<div class="nav">
    <div class="dropdowns">
      <select name="city-dropdown" id="">
        <option value="Î"></option>
        <option value="Î"></option>
        <option value="Î"></option>
        <option value="Î"></option>
      </select>
      <select name="category-dropdown" id="">
        <option value="Î"></option>
        <option value="Î"></option>
        <option value="Î"></option>
        <option value="Î"></option>
      </select>
      <select name="subcategory-dropdown" id="">
        <option value="Î"></option>
        <option value="Î"></option>
        <option value="Î"></option>
        <option value="Î"></option>
      </select>
    </div>
    <div class="right-links">
      <a routerLink='admin'>post</a>
      |
      <a routerLink=#>account</a>
    </div>
  </div>
<router-outlet></router-outlet>