.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "left-col left-col header header header header right-col ." "left-col left-col main main main main right-col ." "left-col left-col main main main main right-col ." "left-col left-col main main main main right-col ." "left-col left-col main main main main right-col ." "left-col left-col main main main main right-col ." "left-col left-col main main main main right-col .";
  }
  
  .left-col { grid-area: left-col; }
  
  .header { grid-area: header; }
  
  .right-col { grid-area: right-col; }
  
  .main { grid-area: main; }

  .main-grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: "left-main left-main center-main center-main center-main right-main right-main" "left-main left-main center-main center-main center-main right-main right-main" "left-main left-main center-main center-main center-main right-main right-main" "left-main left-main center-main center-main center-main right-main right-main" "left-main left-main center-main center-main center-main right-main right-main";
  }
  
  .left-main { grid-area: left-main; }
  
  .center-main { grid-area: center-main; }
  
  .right-main { grid-area: right-main; }

  .left-col{
      background-color: aquamarine;
      border: red, 3px;
      margin: 5px;
      padding: 5px;
  }

  .header{
    background-color: aquamarine;
    border: red, 3px;
    margin: 5px;
    padding: 5px;
}

.right-col{
    background-color: aquamarine;
    border: red, 3px;
    margin: 5px;
    padding: 5px;
}

.main{
    background-color: aquamarine;
    border: red, 3px;
    margin: 5px;
    padding: 5px;
}

.left-main{
    background-color: lightcoral;
    border: red, 3px;
    margin: 5px;
    padding: 5px;
}

.right-main{
    background-color: lightcoral;
    border: red, 3px;
    margin: 5px;
    padding: 5px;
}
.center-main{
    background-color: lightcoral;
    border: red, 3px;
    margin: 5px;
    padding: 5px;
}


  